<div class="clear"></div>
<section class="send-mail">
    <div class="main">
        <form action-xhr="https://feedburner.google.com/fb/a/mailverify" method="post">
            <span class="sp-12">Subscribe to our daily newsletter</span>
            <div class="control custom-input">
                <input type="email" name="email" class="form-control" placeholder="Enter email ID here">
                <input type="hidden" value="IndianAutosBlog" name="uri"/>
                <input type="hidden" name="loc" value="en_US"/>
                <button class="btn btn-subscribe" type="submit">Subscribe</button>
            </div>
        </form>
    </div>
</section>