<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Send mail</title>
</head>
<body>
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="2">
                <h2> Customer contact information </h2>
            </td>
        </tr>
        <tr>
            <td>
                Name's customer :
            </td>
            <td>
                <b>{{ name }}</b>
            </td>
        </tr>
        <tr>
            <td>
                Phone's customer :
            </td>
            <td>
                <b>{{ phone }}</b>
            </td>
        </tr>
        <tr>
            <td>
                Email's customer :
            </td>
            <td>
                <b>{{ email }}</b>
            </td>
        </tr>
        <tr>
            <td>
                Question's customer :
            </td>
            <td>
                {{ questions }}
            </td>
        </tr>
    </table>
</body>
</html>
