{% extends 'base.html.twig' %}
{% block content %}
    <section class="list-new2 pd-top-29">
        <div class="container">
            <div class="title-menu"><h1 class="title-30-22 full-width">{{ sourcePages['title'] }}</h1></div>
            <div class="detail-pri">
                {{ sourcePages['content'] | raw }}
            </div>
        </div>
    </section>
{% endblock %}