{% extends 'amp.html.twig' %}

{% block content %}
    <div id="wrapper">
        <section class="detail-new">
            <div class="main">
                <div class="error-image">
                    <amp-img width="896" height="329" src="/images/error-image.jpg" alt="Not found page" layout="responsive"></amp-img>
                </div>
                <h1>*404* - Content Not Found</h1>
                <p>Sorry, we can't find the content you're looking for at this URL.<br>
                    Please navigate from the navigation menu on top or try searching below.
                </p>
            </div>
        </section>
    </div>
{% endblock %}